@import "../Styles/variables.scss";
.single-container {
  width: 80px;
  height: 120px;
  border-radius: 40px;
  outline: 1px solid $secondary-color-1;
  flex-basis: 10%;
  img{
    width: 80px;
  }
}

.single-content{
  font-size: 18px;
  text-align: center;
  >p{
    margin-bottom: 20px;
  }
}
