.container {
  padding-top: 30px;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(3, 4, 94);
  background: linear-gradient(175deg, rgba(3, 4, 94, 1) 0%, rgba(0, 180, 216, 0.8674063375350141) 49%, rgba(202, 240, 248, 1) 100%);
  color: #CAF0F8;
}
