@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Roboto:wght@100;300;400;700&display=swap");

$primary-color-1: #03045e;
$primary-color-2: #023e8a;
$primary-color-3: #0077b6;
$primary-color-4: #0096c7;
$primary-color-5: #00b4d8;
$secondary-color-1: #48cae4;
$secondary-color-2: #90e0ef;
$secondary-color-3: #ade8f4;
$secondary-color-4: #caf0f8;

$font-family-mon: "Montserrat", sans-serif;
$font-family-robo: "Roboto", sans-serif;
