.shimmer-search {
  top: 0;
  width: 250px;
  height: 20px;
  background-color: #dddddd;
}
.shimmer-content-today {
  background-color: #dddddd;
  width: 100%;
  height: 20px;
}
.shimmer-content {
  display: flex;
}

.skeleton {
  width: 100px;
  height: 20px;
}
.card {
  width: 100px;
  height: 200px;
  border-radius: 48%;
}
.forecast-details{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.shimmer-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.animate {
  animation: shimmer 5s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
